SUBSCRIPTION_CONTRACT_ID=CBPVGE3CNJUFF46O6VLXZXQO2F35JJN2UO2D2RUSY5WPJUMLBT6KVGQ4
PAYMENT_CONTRACT_ID=CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC
TOKENIZATION_CONTRACT_ID=CBKOI63P5TYRQ2MOXG2Q2YBDC2DQQGFB7ELYMQE7SCWXVYEG4H2TBSOO
